$color-primary: rgb(255, 62, 0);
$color-primary--hover: rgb(255, 92, 30);
$color-primary--100: rgba(255, 62, 0, 0.1);
$color-primary-alt: white;

$border-radius: 0.3rem;

$page-loader-height: 3px;
$page-loader-background: transparent;
$page-loader-color: $color-primary;
